# example configuration file
# see sensorConfigurator.p and sensorConfigurator_MK_2.py for usage
# data stored as [sections] containing key = value or key: value

[global]
units = "imperial"
poll_rate = 120

[sensor_types]
number_of_types = 2
types = ["temperature", "humidity"]
type_configs = ["temperature.config", "humidity.config"]

[temperature]
number_of_sensors = 2
default_sub_address = "temperature"
sensor_name = ["Indoor Temperature", "Simulated Temperature"]
sensor_address = ["http://10.0.1.60", "http://localhost:8080"]
sensor_sub_address = ["temperature", "temperature"]
sensor_min = [0, 10]
sensor_max = [50, 60]
alerts = ["yes", "yes"]


[humidity]
    [Indoor Humidity]
    address: http://10.0.1.60
    sub_address: temperature
    minimum: 30
    maximum: 50
    dew_point: no
    alerts: yes

    [Simulated Humidity]
    address: http://localhost:8080
    sub_address: temperature
    minimum: 30
    maximum: 50
    dew_point: no
    alerts: yes
